html, body {
	height: 100%;
}

body {
	background:rgb(233, 233, 233);
  margin: auto;
  text-align: center;
  padding: 0px;
  font-family: 'Hind', sans-serif;
}

main {
	display: block;
	margin: auto;
	background-color: rgb(233, 233, 233);
  padding-top: 1%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-bottom: 1%;
	text-align: center;
	color: black;
	font-family: 'Hind', sans-serif;
  width: 70%;
}
h1{
  font-size: 4em;
  opacity: 1;
  margin: 0px;
  padding: 0px;
  font-family: 'Staatliches', cursive;
  font-weight: normal;
}
h2{
  font-size: 3em;
  opacity: 1;
  margin-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0;
  font-family: 'Staatliches', cursive;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  opacity: 1;
  margin-top: 1px;
  padding-bottom: 0px;
  margin-bottom: 0px;
	padding: 0px;
}

main a:link {
    color: #CA3D00;
    text-decoration: none;
} 
main a:visited {
    color: #CA3D00;
}
main a:hover {
    color: #8d2d03;
}


nav {
  display: block;
	margin: auto;
	background-color: #0096EB;
	font-size: 1.6em;
	font-family: 'Hind', sans-serif;
	text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
}
.navHolder {
	width: auto;
}
nav ul {
	list-style: none;
	display: inline;
  padding: 0;
  margin: 0;
}
nav ul li {
  padding-left: 2%;
  padding-right: 2%;
	display: inline-flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
    
}
nav ul li a {
	text-decoration: none;
  color: whitesmoke;
}

nav ul li a:hover {
    color: #CA3D00;
}

.ribbon{
  background:#CA3D00;
  color: white;
  font-weight: bold;
}

.tagline{
  font-style: italic;
  color: rgb(109, 114, 114);
  font-size: 1em;
}

.spacer{
  padding:20px;
}
.spacer-s{
  padding:10px;
}

ul{
  list-style: none;
}
li{

}

.bold{
  font-weight: bold;
}

footer {
	display: block;
	margin: auto;
	background-color: #0096EB;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 15px;
	text-align: right;
	color: whitesmoke;
	font-size: 1.05em;
	font-family: 'Hind', sans-serif;
  bottom:0;
  width:100%;
  position: fixed;
}

/*Homepage Nav Buttons*/
.btn {
  border: 3px solid white;
  border-radius: 25px;
  background-color: transparent;
  color: white;
  font-weight: bolder;
  padding: 14px 28px;
  margin: 5px;
  font-size: 1.3em;
  cursor: pointer;
}
.default:hover {
  background: white;
  color: black;
}

/*Zig Zag Gallery Columns*/
* {
  box-sizing: border-box;
}

.gallery {
  padding: 0;
}
.gallery img{
    display:block;
    border-radius: 25px;
    width: 100%;
    padding: 2%;
}
.gallery video{
    width: 100%;
    vertical-align: middle;
}

/* Clear floats */
.gallery:after {
  content: "";
  display: table;
  clear: both
}

/* 2/3 column */
.col-twothird {
  float: left;
  width: 66.66666%;
  padding: 20px;
}

/* 1/2 column */
.col-half {
  float: left;
  width: 50%;
  padding: 20px;
}

/* 40% column */
.col-40 {
  float: left;
  width: 40%;
  padding: 20px;
}

/* 1/4 column */
.col-quarter {
  float: left;
  width: 25%;
  padding: 20px;
}

/* 1/3 column */
.col-third {
  float: left;
  width: 30%;
  padding: 10px;
  margin: 1%;
  
}

.card{
  background-color: white;
  border-radius: 25px;
  padding: 1.5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#why{
  padding: 5%;
  margin: auto;
  background-color: white;
  border-radius: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.right{
  float: right;
}
.left{
  float: left;
}
.center{
  margin:auto;
  float: none !important;
}

/* Responsive */
@media screen and (max-width: 1000px) {
  .col-quarter{
      width: 50%;
      text-align: center !important;
  }
  .col-twothird{
      width: 50%;
      text-align: center !important;
  }
  .col-third{
    width: 100%;
    text-align: center !important;
  }
  .col-half,
  .col-40{
    width: 100%;
    text-align: center !important;
  }
}
@media screen and (max-width: 500px) {
  .col-twothird,
  .col-half,
  .col-third, 
  .col-quarter,
  .col-40{
      width: 100%;
      text-align: center !important;
  }
}
